process {
    withName: 'QUANT_SALMON' {
        publishDir = [
            path: { "${params.outdir}/mapping/${meta_t}/${meta_sam.group}" },
            mode: 'copy'
        ]
    }

    withName: 'COMPARE_SIGNATURES' {
        publishDir = [
            path: { "${params.outdir}/statistics/sourmash_gather_output" },
            mode: 'symlink'
        ]
    }

    withName: 'ALIGNMENT_BWA2' {
        publishDir = [
            path: { "${params.outdir}/alignment/${meta_t}" },
            mode: 'symlink'
        ]
    }

}